@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Gluten:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Gluten:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.img_portada{
    border-radius: 10%;
}

.titulo{
    font-weight: bold;
}

.item{
  display: flex;
  flex-direction: column;
}

.cancion{
  display: flex;
  flex-direction: row;
}

.nomcantante{
  font-family: 'Lilita One', cursive;
  font-size: 30px;
}


//Footer
.footer-content {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

//Toolbar header
.toolbar{
// background-color: #fff;
// color:rgb(15, 3, 44);
color: #69409E;
position: relative;
animation: slideIn 1s;
}

@keyframes slideIn {
from {
  transform: translateY(-100%);
}
to {
  transform: translateY(0);
}
}

.title{
//color:rgb(15, 3, 44);
//color: #fff;
font-size:30px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
font-weight: bolder;
font-family: 'Coiny', cursive;/* Color del borde (para navegadores basados en WebKit) */

-webkit-text-stroke: 1px #29235C;
  color: transparent; 
}

//Fondo animado
.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-60deg, #FF4977 50%, #F2E205 50%);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

@keyframes slide {
0% {
  transform:translateX(-25%);
}
100% {
  transform:translateX(25%);
}
}

.col{
align-items: center !important;
margin: auto;
}

ion-footer {
--ion-background-color: #B78DF2;
--ion-text-color: white;
}

ion-header {
--ion-background-color: #ffffff;
--ion-text-color: white;
}

ion-item{
  --ion-background-color: #ffffff4b;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  box-shadow: 0px 2px 0px rgb(255, 255, 255);
}

.iframe{
  margin-top: 10px;
}


//CSS boton
.btn-conteiner {
  display: flex;
  //justify-content: center;
  --color-text: #ffffff;
  --color-background: #38E7BF;
  --color-outline: #ff145b80;
  --color-shadow: #ffffff;
  --color--border: #F2B66D;
  //margin-left: 0;
  margin-top: 5px;
  height: 40px;
  //width: 70px;
  //box-shadow: 10px 30px 20px rgba(0, 0, 0, 2);
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  border: 2px solid #F2B66D;
  color: #ffffff;
  fill: #000;
  //box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;

  background: var(--color--border);
  border: 2px solid #38E7BF;
  //box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
  fill: #000;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
  color: #000;
  fill: #000;
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: rgb(0, 0, 0);
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}