@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
  font-family: 'Lilita One', cursive;
}

ion-footer {
  --ion-background-color: #000000;
  --ion-text-color: white;
}

ion-header {
  --ion-background-color: rgb(255, 0, 234);
  --ion-text-color: #ffffff;
}

.pags{
  --ion-background-color: rgb(255, 0, 234);
  font-family: 'Lilita One', cursive;
}

.seccion{
  font-family: 'Lilita One', cursive;
}

ion-list {
  --ion-background-color: rgb(255, 0, 234);
  --ion-text-color: #ffffff;
  height: 200px;
  margin-top: -10px;
}

ion-item, ion-title{
  text-align: center;
}

ion-menu{
  --ion-background-color: white;
}
